/*body {
  background-color: black;
  color: white;
  font-family: "ヒラギノ明朝 Pro", "Hiragino mincho Pro";
}*/

body{
  text-align: center;
  background-color: skyblue;
  font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;

}

header {
  text-align: center;
}

#content{
  height: 800px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  position: relative;
}

#rect{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 520px;
  background-color: rgba(0, 255, 0, 1.0);
  z-index: -1;
}

#rect2{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 520px;
  z-index: -1;
  background-color: rgba(255, 255, 255, 1.0);
  /*animation: progress 1s ease 0s 1 alternate forwards;*/
}

/*
@keyframes progress{
  0% {width: 100px; height: 600px; background-color: rgba(255, 255, 255, 1.0);}
  100% {width: 100px; height: 400px; background-color: rgba(255, 255, 255, 1.0);}
}*/

#Purpose{
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  width: 500px;
  min-height: 100px;
  font-size: 30px;
  border: solid 1px red;
}

#Todo1,#Todo2,#Todo3,#Todo4,#Start{
  width: 300px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 40px auto;
}

#input{
  text-align: center;
  margin: 0px auto;
  width: 300px;
  height: 100px;
}

#todo_input{
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  border:0;
  padding:10px;
  font-size:1.4em;
  font-family:Arial, sans-serif;
  border:solid 1px;
  width:300px;
}

#todo_input:focus{
  border: solid 1px orange;
}
